*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/backgroud-image.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.search-form {
  position: fixed;
  z-index: 14;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form > input {
  padding: 5px 10px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  line-height: 1.88;
  outline: none;
}

.gallery {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.image {
  display: block;
  max-width: 100%;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    height: 260px;
  }
}

.stats {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stats-item {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.search-form-btn,
.load-more-btn {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 100px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}
